<templateSet group="Spring MVC">
  <template name="reqm" value="@org.springframework.web.bind.annotation.RequestMapping(path = &quot;$PATH$&quot;, method = $HTTP_METHOD$)&#10;public org.springframework.http.ResponseEntity&lt;$RETURN_TYPE$&gt; $METHOD_NAME$($ARGUMENTS$) {&#10;    return org.springframework.http.ResponseEntity.ok(&quot;$RETURN_VALUE$&quot;);&#10;}" description="Spring MVC '@RequestMapping' template" toReformat="true" toShortenFQNames="true">
    <variable name="PATH" expression="" defaultValue="/" alwaysStopAt="true" />
    <variable name="HTTP_METHOD" expression="" defaultValue="&quot;org.springframework.web.bind.annotation.RequestMethod.GET&quot;" alwaysStopAt="true" />
    <variable name="RETURN_TYPE" expression="" defaultValue="&quot;java.lang.String&quot;" alwaysStopAt="true" />
    <variable name="METHOD_NAME" expression="" defaultValue="&quot;request&quot;" alwaysStopAt="true" />
    <variable name="ARGUMENTS" expression="" defaultValue="" alwaysStopAt="true" />
    <variable name="RETURN_VALUE" expression="" defaultValue="" alwaysStopAt="true" />
    <context />
  </template>
  <template name="getm" value="@org.springframework.web.bind.annotation.GetMapping(&quot;$PATH$&quot;)&#10;public org.springframework.http.ResponseEntity&lt;$RETURN_TYPE$&gt; $METHOD_NAME$($ARGUMENTS$) {&#10;    return org.springframework.http.ResponseEntity.ok(&quot;$RETURN_VALUE$&quot;);&#10;}" description="Spring MVC '@GetMapping' template" toReformat="true" toShortenFQNames="true">
    <variable name="PATH" expression="" defaultValue="/" alwaysStopAt="true" />
    <variable name="RETURN_TYPE" expression="" defaultValue="&quot;java.lang.String&quot;" alwaysStopAt="true" />
    <variable name="METHOD_NAME" expression="" defaultValue="&quot;get&quot;" alwaysStopAt="true" />
    <variable name="ARGUMENTS" expression="" defaultValue="" alwaysStopAt="true" />
    <variable name="RETURN_VALUE" expression="" defaultValue="" alwaysStopAt="true" />
    <context />
  </template>
  <template name="deletem" value="@org.springframework.web.bind.annotation.DeleteMapping(&quot;$PATH$&quot;)&#10;public org.springframework.http.ResponseEntity&lt;$RETURN_TYPE$&gt; $METHOD_NAME$($ARGUMENTS$) {&#10;    return org.springframework.http.ResponseEntity.ok(&quot;$RETURN_VALUE$&quot;);&#10;}" description="Spring MVC '@DeleteMapping' template" toReformat="true" toShortenFQNames="true">
    <variable name="PATH" expression="" defaultValue="/" alwaysStopAt="true" />
    <variable name="RETURN_TYPE" expression="" defaultValue="&quot;java.lang.String&quot;" alwaysStopAt="true" />
    <variable name="METHOD_NAME" expression="" defaultValue="&quot;delete&quot;" alwaysStopAt="true" />
    <variable name="ARGUMENTS" expression="" defaultValue="" alwaysStopAt="true" />
    <variable name="RETURN_VALUE" expression="" defaultValue="" alwaysStopAt="true" />
    <context />
  </template>
  <template name="patchm" value="@org.springframework.web.bind.annotation.PatchMapping(&quot;$PATH$&quot;)&#10;public org.springframework.http.ResponseEntity&lt;$RETURN_TYPE$&gt; $METHOD_NAME$($ARGUMENTS$) {&#10;    return org.springframework.http.ResponseEntity.ok(&quot;$RETURN_VALUE$&quot;);&#10;}" description="Spring MVC '@PatchMapping' template" toReformat="true" toShortenFQNames="true">
    <variable name="PATH" expression="" defaultValue="/" alwaysStopAt="true" />
    <variable name="RETURN_TYPE" expression="" defaultValue="&quot;java.lang.String&quot;" alwaysStopAt="true" />
    <variable name="METHOD_NAME" expression="" defaultValue="&quot;patch&quot;" alwaysStopAt="true" />
    <variable name="ARGUMENTS" expression="" defaultValue="" alwaysStopAt="true" />
    <variable name="RETURN_VALUE" expression="" defaultValue="" alwaysStopAt="true" />
    <context />
  </template>
  <template name="postm" value="@org.springframework.web.bind.annotation.PostMapping(&quot;$PATH$&quot;)&#10;public org.springframework.http.ResponseEntity&lt;$RETURN_TYPE$&gt; $METHOD_NAME$($ARGUMENTS$) {&#10;    return org.springframework.http.ResponseEntity.ok(&quot;$RETURN_VALUE$&quot;);&#10;}" description="Spring MVC '@PostMapping' template" toReformat="true" toShortenFQNames="true">
    <variable name="PATH" expression="" defaultValue="/" alwaysStopAt="true" />
    <variable name="RETURN_TYPE" expression="" defaultValue="&quot;java.lang.String&quot;" alwaysStopAt="true" />
    <variable name="METHOD_NAME" expression="" defaultValue="&quot;post&quot;" alwaysStopAt="true" />
    <variable name="ARGUMENTS" expression="" defaultValue="" alwaysStopAt="true" />
    <variable name="RETURN_VALUE" expression="" defaultValue="" alwaysStopAt="true" />
    <context />
  </template>
  <template name="putm" value="@org.springframework.web.bind.annotation.PutMapping(&quot;$PATH$&quot;)&#10;public org.springframework.http.ResponseEntity&lt;$RETURN_TYPE$&gt; $METHOD_NAME$($ARGUMENTS$) {&#10;    return org.springframework.http.ResponseEntity.ok(&quot;$RETURN_VALUE$&quot;);&#10;}" description="Spring MVC '@PutMapping' template" toReformat="true" toShortenFQNames="true">
    <variable name="PATH" expression="" defaultValue="/" alwaysStopAt="true" />
    <variable name="RETURN_TYPE" expression="" defaultValue="&quot;java.lang.String&quot;" alwaysStopAt="true" />
    <variable name="METHOD_NAME" expression="" defaultValue="&quot;put&quot;" alwaysStopAt="true" />
    <variable name="ARGUMENTS" expression="" defaultValue="" alwaysStopAt="true" />
    <variable name="RETURN_VALUE" expression="" defaultValue="" alwaysStopAt="true" />
    <context />
  </template>
</templateSet>